*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    border-bottom: 1px solid grey;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*gap: 20px;*/
    box-shadow: 0 1px 20px rgb(186, 186, 186);

}

/* .search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
} */

.searchBox{
    height: 65px;
    min-width: 1150px;
    border: 2px  grey solid;
    border-radius: 50px;
    padding-left: 10px;

}

/* .adds{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
} */

.adds>a{
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px blue;
    font-size: 20px;
}

.icons,.search,.adds, .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
     
}

.liked, .cart, .notifications{
    font-size: 20px;
    border: none;
    background-color: transparent;

}

/* .udemy{
    transform: rotate(45deg);
} */

.udemy .u{
     color: rgb(214, 80, 214);
     font-size: 50px;


} 

.udemy .y{
    color: blue;
    text-shadow: 2px 2px 3px orange;
    transform: rotate(-45deg); 
    display: inline-block; /* required so transform applies properly */
}

.profile{
    background-color: grey(207, 191, 191);
    border: none;
    color: black;
    font-size:15px;
    font-weight: bold;
    width: 70px;
    height: 40px;
    border-radius: 15px;
}

.profile>a{
    text-decoration: none;
}

.profile:hover{
    background-color: aqua;
    color: black;  
    
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .test:hover{
    background-color: red;
} */

.liked{
    box-shadow: 0px 4px 2px gray;
}

.liked:active{
    transform: translateY(4px);
    box-shadow: 0px 2px 1px gray;

}

