    *{
        margin: 0;
        padding: 0;
      }
      .main-container {
        background-color: royalblue;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .sign-in-box {
        background-color: white;
        border-radius: 5px;
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
      }

      .sign-in-bttn {
        background-color: green;
        color: white;
        width: 75%;
        font-size: 15px;
        margin: 10px;
        margin-top: 5px;
        padding: 3px;
      }

      .sign-in-bttn:hover{
        background-color: white;
        color: green;
        border-radius: 30px;
        border-color: green;
      }

      .email {
        margin-top: 0;
        margin-bottom: 2px;
      }

      .email-input{
        margin-bottom: 0;
      }

      .password {
        margin-top: 15px;
        margin-bottom: 2px;
        padding: 0;
      }

    
      .title {
        color: white;
        text-shadow: 3px 3px 5px black;
        padding: 10px;
      }
      
      .sign-up-footer{
        text-align: center;
        margin: 5px;
      }

      .box{
        background-color: #f2f2f2;
        border: none;
        height: 25px;
        border-radius: 5px;
      }

      .isNotVisible{
        display: none;
      }

      .isVisible{
        display: block;
      }